body {
	padding-top: 25px !important;
}

.user-profile-table{
   padding:20px;
}
.profile-stats {
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	margin-top: 10px;

}

.profile-stats li {
	padding: 20px;
	display: inline-block;
}

.profile-stats span {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	font-size: 4em;

	display: block;
	line-height: 1em;
}

.stats-table, .stats-chart {
	display: table-cell;
	min-height: 400px;
}

.chartArea {
	margin-top: 15px;
	width: 100%;
	vertical-align: middle;
	height: 320px;
	display: inline-block;
}

/* Large desktop */
@media (min-width: 1200px) {
	.profile-stats li {
		padding: 10px;
	}
}

@media (max-width: 1200px) {
	.profile-stats li {
		padding: 10px !important;
	}

	.profile-stats span {
		font-size: 3em;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.profile-stats span {
		font-size: 3em;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.profile img {
		width: 75px;
	}

	.profile h2 {
		font-size: 1.7em;
	}

	.profile-stats span {
		font-size: 2em;
		text-align: center;
	}
	.profile-stats{
		padding: 0;
		text-align: left;
	}
	.rating-xs{
		font-size: 1.6em;
	}


}

/* Landscape phones and down */
@media (max-width: 480px) {

}
