<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="footer">
        <script th:inline="javascript">
            var rootUrl = /*[[${#httpServletRequest.contextPath}]]*/ '/';
            $.get(rootUrl + "/version", function (data) {
                $("#appVersion").html(data);
            });
        </script>
        <div class="row text-center" style="padding-top: 5em">
            <div>
                &copy; 2015 FootSign <span id="appVersion"></span> - crafted by ERNI Java team
            </div>
        </div>
    </div>
</body>
</html>