<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="header">
    <div class="row">
        <div class="pull-right">
            <h1>
                <small>ERNI</small>
                &nbsp;FootSign
            </h1>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbarBrandItem" class="navbar-brand" th:href="@{/}"><img th:src="@{/img/icon-xsmall.jpg}"/></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- HOME -->
                        <li id="homeMenuItem"><a th:href="@{/home}">Dashboard <span class="sr-only">(current)</span></a></li>

                        <!-- USER PROFILE -->
                        <li id="userMenuItem" role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                User <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="myProfileMenuItem"><a th:href="@{/user_profile}">My profile</a></li>
                                <li id="notificationSettingsMenuItem"><a th:href="@{/user_profile_notification_settings}">Notification settings</a></li>
                                <li id="confirmationMenuItem"><a th:href="@{/confirmations}">My confirmations</a></li>
                            </ul>
                        </li>

                        <!-- STATISTICS -->
                        <li id="statsMenuItem" role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Statistics <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="statsMenuItemOverview"><a th:href="@{/stats_overview}">Overview</a></li>
                                <li id="statsMenuItemUser"><a th:href="@{/stats_user}">Users</a></li>
                                <li id="statsMenuItemTeam"><a th:href="@{/stats_team}">Team</a></li>
                                <li id="statsMenuItemMatch"><a th:href="@{/stats_match}">Match</a></li>
                            </ul>
                        </li>

                        <!-- MATCH PLANNING -->
                        <li id="planingMenuItem" role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                Planing <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="planMatchMenuItem"><a th:href="@{/plan_match}">Plan a match</a></li>
                            </ul>
                        </li>

                        <!-- GENERAL RULES -->
                        <li id="rulesMenuItem"><a th:href="@{/rules}">Foosball rules</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/user_profile}"><i class="glyphicon glyphicon-user"></i><span sec:authentication="name"/></a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                    <script th:inline="javascript">
                        /*<![CDATA[*/

                        var rootUrl = /*[[${#httpServletRequest.requestURI}]]*/ '/';
                        var activeItemId = "navbarBrandItem";

                        //todo @rap: figure this out... cause it's ugly
                        if (rootUrl.match("home")) activeItemId = "homeMenuItem";

                        if (rootUrl.match("user_profile")) activeItemId = "myProfileMenuItem";
                        if (rootUrl.match("user_profile_notification_settings")) activeItemId = "notificationSettingsMenuItem";
                        if (rootUrl.match("confirmations")) activeItemId = "confirmationMenuItem";

                        if (rootUrl.match("stats_user")) activeItemId = "statsMenuItemUser";
                        if (rootUrl.match("stats_overview")) activeItemId = "statsMenuItemOverview";
                        if (rootUrl.match("stats_team")) activeItemId = "statsMenuItemTeam";
                        if (rootUrl.match("stats_match")) activeItemId = "statsMenuItemMatch";

                        if (rootUrl.match("plan_match")) activeItemId = "planMatchMenuItem";

                        if (rootUrl.match("rules")) activeItemId = "rulesMenuItem";

                        $('#' + activeItemId).addClass("active");
                        /*]]>*/
                    </script>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>