<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div th:fragment="team_table">
    

    <table id="lastMatchesTable" class="table table-striped table-hover result-table">
        <thead>
        <tr>
            <th>Members of team 1</th>
            <th>Members of team 2</th>
            <th>Date and time </th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${last_matches}">
            <td th:class="${item.team1Wins()} ? 'winner' : 'looser'"><div th:each="user : ${item.team1}" th:text="${user.fullName}"></div></td>
            <td th:class="${item.team2Wins()} ? 'winner' : 'looser'"><div th:each="user : ${item.team2}" th:text="${user.fullName}"></div></td>
            <td th:text="${item.formatedDateOfMatch}">${item.formatedDateOfMatch}</td>
            <td th:text="${item.matchResultToString()}">${item.matchResultToString()}</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>