<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
    <meta charset="UTF-8" />
    <title>FootSign / My confirmations</title>
</head>
<body>

<div th:fragment="content">
    <div class="row">
        
        <h3>Matches, which are waiting for your confirmation</h3>
    </div>
    
    <div class="row well" th:each="match, stat : ${matches}">
        <div class="col-md-2">
            <p><strong>Date and time</strong></p>
            <p th:text="${match.getFormatedDateOfMatch()}"></p>
        </div>

        <div class="col-md-3">
            <p><strong>Team 1</strong></p>
            <p th:text="${match.getPlayersOfTeam1InString()}"></p>
        </div>
        <div class="col-md-3">
            <p><strong>Team 2</strong></p>
            <p th:text="${match.getPlayersOfTeam2InString()}"></p>
        </div>
        <div class="col-md-1">
            <p><strong>Result</strong></p>
            <p th:text="${match.matchResultToString()}"></p>
        </div>
        <div class="col-md-3">
            <p><strong>Actions</strong></p>
            <div class="row">
                <div class="col-xs-4">
                    <form th:action="@{/confirm_match}" method="post" th:object="${matchId}" >
                        <input type="hidden" name="matchId" th:value="${match.matchId}"/>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </form>
                </div>
                <div class="col-xs-4">
                    <form th:action="@{/cancel_match}" method="post" th:object="${matchId}" >
                        <input type="hidden" name="matchId" th:value="${match.matchId}" />
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>