<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
    <title>FootSign / Home</title>
</head>
<body>

<div th:fragment="content">
    <div>

        
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <img th:src="@{/img/foosball_intro.jpg}" id="intro-image" class="img-responsive" alt="Foosball table"/><br/>
                <blockquote>
                    <p>The ultimate Foosball game multi-tool. With Swiss quality<sup>TM</sup> included.</p>
                    <footer>Powered by <cite title="Pavol Vanek Java Team">Java Team</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>

</div>

</body>
</html>