<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
    <title>FootSign / Plane match</title>
</head>
<body>

<!--
 watch this:
 http://bootstrap-datepicker.readthedocs.org/en/latest/markup.html
 -->


    <div th:fragment="content">
        
        <div class="container">
            <div class="row text-center">
                Date: <span id="plannedDate"></span>
            </div>
            <div class="row">
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div id="matchesContainer"></div>
                </div>

                <script th:inline="javascript">
                    $(document).ready(function () {
                        var minDate = new Date();
                        minDate.setDate(minDate.getDate() - 1);
                        var maxDate = new Date();
                        maxDate.setMonth(maxDate.getMonth() + 1);
                        
                        $('#datetimepicker1').datepicker({
                            daysOfWeekDisabled: [0,6],
                            inline: true,
                            format: 'DD.MM.YYYY',
                            startDate: minDate,
                            endDate: maxDate,
                            calendarWeeks: true,
                            todayHighlight: true
                        });

                        $('#datetimepicker1').datepicker().on("changeDate", function(e) {
                            $("#plannedDate").html($(this).datepicker('getDate'))

                            $.ajax({
                                url: 'planedMatchesOneDay',
                                type: 'GET',
                                success: function (data) {
                                    console.log(data);
                                    $("#matchesContainer").html(data);
                                }

                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</body>
</html>