<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
    <title>FootSign / Plane match</title>
</head>
<body>

<!--
 watch this:
  - http://bootstrap-calendar.azurewebsites.net/index-bs3.html
  - http://eonasdan.github.io/bootstrap-datetimepicker/
 -->


    <div th:fragment="content">

        <!--<div class="cal-row-fluid cal-row-head">
            <% _.each(days_name, function(name){ %>
            <div class="cal-cell1"><%= name %></div>
            <% }) %>
        </div>
        <div class="cal-month-box">
            <% for(i = 0; i < 6; i++) { %>
            <% if(cal.stop_cycling == true) break; %>
            <div class="cal-row-fluid cal-before-eventlist">
                <div class="cal-cell1 cal-cell" data-cal-row="-day1"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day2"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day3"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day4"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day5"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day6"><%= cal._day(i, day++) %></div>
                <div class="cal-cell1 cal-cell" data-cal-row="-day7"><%= cal._day(i, day++) %></div>
            </div>
            <% } %>
        </div>-->
        
        
        <!--<div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
        </div>-->
    </div>

</body>
</html>