<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>FootSign / Stats - Match</title>
</head>
<body>

<div th:fragment="content">
    <h1>ERNI Foosball rules</h1>
    <blockquote>That this application relies on.</blockquote>

    <ul>
        <li>One match is played until one of the teams has <strong>2 won games</strong>.</li>
        <li>The game is played until one of the teams reaches <strong>8 goals</strong>.</li>
        <li>No "grilling" is allowed.</li>
        <li>The first "kick off" is done from the hole in the center.</li>
        <li>When the team gets a goal the ball is played from the corner of the field.</li>
        <li>If the ball leaves the table it is played from the hole in the center.</li>
        <li>If the ball stops between two teams the ball must be played from the hole in the center.</li>
        <li>If the ball stops between the players of one team it can be moved by the player himself.</li>
        <li>When one team scores and the ball jumps out of the goal the opponent must subtract one point from his score.</li>
    </ul>

</div>
</body>
</html>