<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8" />
    <title>FootSign / Stats - Teams</title>
</head>
<body>
    <div th:fragment="content">

        <div class="row well well-lg">
            <a href="#" class="hide-content-btn">show / hide</a>

            <h3> TOP 10 teams with most wins</h3>
            <div class="col-md-6 stats-table">

                <table id="topTeamsTable" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:colspan="2">Team members</th>
                        <th>Number of win matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${best_teams}">
                        <td th:text="${item.player1}">${item.player1}</td>
                        <td th:text="${item.player2}">${item.player2}</td>
                        <td class="col-md-3" th:text="${item.value}">${item.matches}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 stats-chart">
                <div id="topTeamsPiechart"></div>
            </div>
        </div>

        <div class="row well well-lg">
            <a href="#" class="hide-content-btn">show / hide</a>

            <h3> TOP 10 teams with most losses</h3>
            <div class="col-md-6 stats-table">

                <table id="worstTeamsTable" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:colspan="2">Team members</th>
                        <th>Number of lost matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${worst_teams}">
                        <td th:text="${item.player1}">${item.player1}</td>
                        <td th:text="${item.player2}">${item.player2}</td>
                        <td class="col-md-3" th:text="${item.value}">${item.matches}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 stats-chart">
                <div id="worstTeamsPiechart"></div>
            </div>
        </div>

        <div class="row well well-lg">
            <a href="#" class="hide-content-btn">show / hide</a>
            <h3> TOP 10 most played team</h3>
            <div class="col-md-6 stats-table">

                <table id="topPlayersTable" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:colspan="2">Team members</th>
                        <th>Number of matches</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${most_team_players}">
                        <td th:text="${item.player1}">${item.player1}</td>
                        <td th:text="${item.player2}">${item.player2}</td>
                        <td class="col-md-3" th:text="${item.value}">${item.matches}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 stats-chart">
                <div id="mostPlayedTeamsPiechart"></div>
            </div>
        </div>

        <script th:inline="javascript">

            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart( ) {

                getDataForColumnChart("/footsign/top_teams_graph_data", "Top 10", "topTeamsPiechart");
                getDataForColumnChart("/footsign/worst_teams_graph_data", "'Not so good' 10", "worstTeamsPiechart");
                getDataForColumnChart("/footsign/most_played_team_graph_data", "Most played", "mostPlayedTeamsPiechart");
            }
        </script>

    </div>
</body>
</html>