<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
    <meta charset="UTF-8" />
    <title>FootSign / Stats - Users</title>
</head>
<body>
    <div th:fragment="content">

        <div class="row">
            <div class="col-xs-8 col-md-12">
                <div class="col-xs-8 col-md-8">
                    <h3> TOP 10 players</h3>
                    <table id="lastMatchesTable" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of wins</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${best_players}">
                            <td th:text="${item.player}">${item.player}</td>
                            <td th:text="${item.matches}">${item.matches}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6 col-md-4">
                    User with most wins:
                    <h4 th:text="${user_name_wins}"/>
                    <h2 th:text="${number_of_matches_wins}"/>
                </div>
                <div class="col-sm-6 col-md-4">
                    User with played matches:
                    <h4 th:text="${user_name}"/>
                    <h2 th:text="${number_of_matches}"/>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-xs-12 col-md-8">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Team1 result</th>
                        <th>Team2 result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${win_gams}">
                        <td th:text="${item.team1Result}">${item.team1Result}</td>
                        <td th:text="${item.team2Result}">${item.team2Result}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>-->

    </div>

</body>
</html>