<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8" />
    <title>FootSign / Stats - Overview</title>
</head>
<body>
    <div th:fragment="content">
        <div class="row well well-lg">
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9 ">
                    <h3>Team with most wins </h3>
                    <div class="overview-item-name" th:each="item : ${best_team}">
                        <span  th:text="${item.player1}">${item.player1}</span>,
                        <span  th:text="${item.player2}">${item.player2}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-value" th:text="${best_team_score}">${item.value}00</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9">
                    <h3> Team with most losses </h3>
                    <div class="overview-item-name" th:each="item : ${worst_team}">
                        <span  th:text="${item.player1}">${item.player1}</span>,
                        <span  th:text="${item.player2}">${item.player2}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-value" th:text="${worst_team_score}">${worst_team_score} </div>
                </div>
            </div>
        </div>

        <div class="row well well-lg">
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9 ">
                    <h3> Most wins </h3>
                    <div class="overview-item-name" th:each="item : ${best_player}">
                        <span  th:text="${item.player}">${item.player}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-value" th:text="${best_player_score}"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9 ">
                <h3> Most losses </h3>
                    <div class="overview-item-name" th:each="item : ${worst_player}">
                        <span th:text="${item.player}">${item.player}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-value" th:text="${worst_player_score}"></div>
                </div>
            </div>
        </div>


        <div class="row well well-lg">
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9 ">
                    <h3>Best "UNDER TABLE" </h3>
                    <div class="overview-item-name" th:each="item : ${best_underTable}">
                        <span th:text="${item.player}">${item.player}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-value" th:text="${best_underTable_score}"> </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row col-sm-9 ">
                    <h3>Best ratio </h3>
                    <div class="overview-item-name" th:each="item : ${highest_ratio}">
                        <span  th:text="${item.player}">${item.player}</span>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="overview-item-ratio" th:text="${highest_ratio_value} ? ${#numbers.formatDecimal(highest_ratio_value * 100, 2, 'COMMA', 2, 'POINT') + '%'} : ''"> </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>