<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8" />
    <title>FootSign / Stats - Match</title>
</head>
<body>

<div th:fragment="content">

    <div class="row">
        <div class="col-xs-8 col-md-8">
            <table id="lastMatchesTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Members of team 1</th>
                        <th>Members of team 2</th>
                        <th>Date and time </th>
                        <th>Team wins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${last_matches}">
                        <td th:class="${item.team1Wins()} ? 'winner' : 'looser'"><div th:each="user : ${item.team1}" th:text="${user.fullName}"></div></td>
                        <td th:class="${item.team2Wins()} ? 'winner' : 'looser'"><div th:each="user : ${item.team2}" th:text="${user.fullName}"></div></td>
                        <td th:text="${item.formatedDateOfMatch}">${item.formatedDateOfMatch}</td>
                        <td th:text="${item.team1Wins()} ? 'Team 1' : 'Team 2'">${item.team1Wins}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4 col-md-4">
            <div id="winnersPiechart"></div>
            <div id="loosersPiechart"></div>
        </div>
    </div>

    <script th:inline="javascript">
        
        function getGraphData(url, title, componentId) {

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success:function(data) {
                    var data = google.visualization.arrayToDataTable(data);
                    var options = {
                        title: title
                    };
                    var chart = new google.visualization.PieChart(document.getElementById(componentId));

                    chart.draw(data, options);
                }

            });
        }
        
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart( ) {
            
            getGraphData("/footsign/winner_graph_data", "Winners", "winnersPiechart");
            getGraphData("/footsign/looser_graph_data", "Loosers", "loosersPiechart");
        }
    </script>
</div>
</body>
</html>