<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8" />
    <title>FootSign / Stats - Match</title>
</head>
<body>

<div th:fragment="content">
    <div class="row well well-lg">

        <div class="row">
            <div class="col-sm-6 col-xs-8">
                <h3>Last 10 matches played</h3>
            </div>
            <div class="col-sm-6 col-xs-4" style="margin-top: 20px">
                <a href="#" class="hide-content-btn pull-right">show / hide</a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 stats-table">
            <div id="stats-team-table" th:include="fragments/tables :: team_table"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 stats-chart">
            <div id="winnersPiechart" class="chartArea"></div>
            <div id="loosersPiechart" class="chartArea"></div>
        </div>
    </div>


    <script th:inline="javascript">

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart( ) {

            getDataForPieChart("/footsign/winner_graph_data", "Winners", "winnersPiechart");
            getDataForPieChart("/footsign/looser_graph_data", "Loosers", "loosersPiechart");
        }

        window.onresize = drawChart;
    </script>

</div>
</body>
</html>