<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:include="layout :: page">
<head>
	<title>FootSign / Home</title>
</head>
<body>

<div class="container">
	<div th:fragment="content">
		<div class="well well-sm">
			<div class="row ">
				<div class="col-sm-2 col-md-2">
					<img th:src="${photo}" alt="" class="img-rounded img-responsive"/>
				</div>
				<div class="col-sm-5 col-md-5">
					<h2 th:text="${domain_name}"/>
					<h4 th:text="${full_name}"/>

					<p>
						<i class="glyphicon glyphicon-envelope"></i> <span th:text="${email}"/>
						<br/>
						<i class="glyphicon glyphicon-flag"></i> <span th:text="${department}"/>
					</p>

					<p>

					<form id="editForm" action="#" th:action="@{/edit_user}" th:object="${user}" method="post">
						<span>
							<input id="stars_rating" type="number" class="rating" data-min="0" data-max="10" data-show-clear="false"
								   data-step="0.1" th:field="*{rating}"
								   data-stars="10" data-size="xs"/>

						</span>
						<!--<button id="edit_user_profile" class="btn btn-primary">Edit</button>-->
					</form>
					
					</p>
					<p>
						<span>
							<input id="stars_rating_ratio" type="number" class="rating" data-min="0" data-max="10"
								   data-step="0.1" data-stars="10" data-size="xs" data-readonly="true" data-show-clear="false" data-default-caption="Ratio: {rating}"
								   th:value="${#numbers.formatDecimal(wonLostRatioPercent, 0, 'COMMA', 2, 'POINT')}"/>

						</span>
					</p>
					<!-- Split button -->
				</div>
				<div class="col-sm-5 col-md-5">
					<ul class="inline profile-stats">
						<li>
							<span th:text="${numberOfMatches}"></span>
							Matches
						</li>
						<li>
							<span th:text="${won}"></span>
							Wins
						</li>
						<li>
							<span th:text="${lost}"></span>
							Loses
						</li>
						<li>
							<span th:text="${#numbers.formatDecimal(wonLostRatio, 0, 'COMMA', 2, 'POINT')}">0.00</span>
							Ratio
						</li>
					</ul>
				</div>
			</div>
			<!-- row end -->
			<div class="row user-profile-table">
				<div class="col-sm-12 col-md-12">
					<div id="stats-team-table" th:include="fragments/tables :: team_table"></div>

				</div>
			</div>

		</div>
	</div>

</div>

</body>
</html>